#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}

form {
  width: 50%;
  background-color: rgb(244, 244, 235);
  padding: 30px;
  margin-left: 22%;
  border: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.row {
  width: 70%;
  padding: 5px;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
}

.submit {
  padding: 10px;
  background-color: rgb(242, 225, 204);
}